.DrawerHead{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    color: #fff;
    align-items: center;
}
.logoBox{
    display: flex;
    flex-direction: row;
    height: 50px;;
    width: 50px;
    border-radius: 30px;
    background-image:url("../Assets/namma.png") ;
    overflow: hidden;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    margin-right: 20px;
}

.SearchBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 93%;
    /* height: 20px; */
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 8px;

}



.inputFeild{
    height: 35px;
    width: 90%;
    border-radius: 4px;
    border-width: 0.4px;
    background-color: #fff;
    border-color: rgb(186, 186, 186);
}

.inputFeild:focus{
    outline-color: #fff;
    outline: 0.1px;
    border-color: #fff;
    border-radius: 0;
}

.menutxt{
    margin-left: 16px;
    font-size: 12px;
    font-family:  sans-serif;
    font-weight: 200;
    color:rgb(108, 108, 108);
    
    /* color:aliceblue ;  */
}

.bozex{
    flex: 1;
}
.DisplayBox{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width:100%;
    flex-direction: column;
    overflow-y: auto;
    background-color: #ffffff;
    /* margin-top: 100px; */
 
}
.iconstyle{
    size: 20px;
}

.iconstyle

.userInfo{
    display: flex;
    background-color: rgb(255, 39, 39);
    width: 80%;
    height: fit-content;
    margin-top: 20px;
    border-radius: 30px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.DisplayBox::-webkit-scrollbar{
    width: 0;
}

/* .viewBox{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 0, 0);
} */

.LogOutBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 48;
    height: 48px;
    /* background-color: burlywood; */
    justify-self: flex-end;
    align-self: flex-end;
}