

.navbar {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    opacity: 1;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    padding-left: 20px;
  }

  .font{
    color: rgb(0, 0, 0);
    font-family: Karla;
    font-weight:bold;
    font-size: 23px;
  }

  .IconBox{
    height: 50px;
    width: 50px;
    /* background-color:rgb(0, 69, 69); */
    border-radius: 30px;
    background-image:url("../Assets/namma.png") ;
    overflow: hidden;
    background-repeat: no-repeat;
    align-self: center;
    background-size: cover;
    overflow: hidden;
    margin-right: 20px;
  }